coremltools>=7.0
diffusers[torch]
diffusionkit
torch
transformers==4.52.0
scipy
scikit-learn
pytest
invisible-watermark
safetensors
matplotlib
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
